/* navber part  */
.navbar {
  background-color: rgb(122, 133, 137);  
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-left h1 {
    color: wheat;
}
.nav-center{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    list-style: none;
}
.nav-center li a{
    color: antiquewhite;
    text-decoration: none;
}
.nav-center h2{
    color: white;
}
.nav-right button{
    font-size: medium;
    padding: 5px 30px;
    border-radius: 6px;
    border-color: transparent;
    cursor: pointer;
    background-color: bisque;
}
.nav-right button:hover{
    background-color: chocolate;
    font-size: large;
}


/* About part  */
